*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}
a.me {
    font-size: 1rem;
    color: black;
}
html{
    font-size: 16px;
}

a.me:hover {
    color: darkcyan;
    font-style: italic;
}

/* Header section --------------------------------- --------------*/

nav {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);  
    width: 100%;
}

nav ul {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem ;
    align-items: center;
    width: 100%;
   
}
nav ul li{
    list-style: none;
}
nav ul li.hover {
    list-style: none;
    padding: 1% ;
}

nav ul li.hover:hover{
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);  

}
ul i {
    float: right;
    font-size: 1.2em;
    margin: 0.5em;
}

ul a {
    position: relative;
    left: 0.8em;
}
ul a.instagram:hover {
    color: red;
    
} 

ul a.Whatsapp:hover {
    color: seagreen;
    
}
/* ----------------------------  End Header Section  ------------------  */

/* --------------------------- content section ------------------------  */
.wrapper {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   
}
.left {
    flex: 200;
    display: flex;
}
.right {
    display: flex;
    flex: 200;
}
.image.left {
    justify-content: center;
    align-content: center;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);  

    margin-top: 0.5rem;
}
.image {
    background: radial-gradient(52.89% 87.51% at 64.58% 54.35%,#fff 0,#fff 100%);
    flex: 100;
}
img {
    margin-top: 0.2rem;
    position: relative;
    top: 0.2rem;
}
.imagen {
    margin-left:2rem ;
    flex: 1 2 100;
    
}
.up {
    margin-left: 0;
    flex: 500;
    align-content: center;
    justify-content: center;
    padding: 0rem;
    flex-wrap: wrap;
    height: 50%;
    align-self: center;
    text-align: center;
  
}
.figcaption {
    text-align: center;
    margin-bottom: 1rem;
    color: #212121;
    font-size: 1rem;
    flex: 50;
}
.universidad i {
    padding: 1rem;
}
.universidad {
    padding:0.5rem;
    color: #212121  ;
    font-size: 1rem;
}
.buttons {
    
    text-align: center;
}
.i i{
    padding: 0 2.5rem;
    font-size: 2rem;
    opacity: 0.6;
    color: #163D57;
}
.pro{
    padding: 1px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 100px;
    width: 26%;
    margin: 0 auto;
    color: #163D57;
    display: flex;
    justify-content: center;
    flex: 500;
}
.pro p {
    padding:10px 30px ;
    height: 100%;
    font-weight: 500;
}
.pro p:hover{
    border-radius: 100px;
    background: #163D57;
    color: #fff;
   
}

.spaces {
    padding: 20px 0;
}
.conocimientos {
    background: #F7F7F8;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.conocimientos h2 {
    padding: 1rem 0;
    margin-bottom: 1rem;
    color:#163D57;
}
.cono {
    display: flex;
    flex-direction: row;
}
.cono ul {
    display: flex;
    flex-direction: row;
}
.cono ul li {
    padding: 10px 25px;
    list-style: none;
}
.cono ul li:hover {
    background:#163D57;
    color: #fff;
    border-radius: 100px;
}
.perfil {
    padding: 50px 30px;
}
.perfil h3 {
   color: #163D57;
font-weight: 700;
width: 20%;
align-self: center;
}
.perfil p {
    padding: 20px 30px;
    width: 50%;
    height: auto;
   text-align: justify;
}
.humanidades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0px;
}
.yo {
    background-image: url("soccer.jpg") ;
    background-position: center;
    background-size: cover;
    padding: 5rem 1rem;
    justify-content: center;
    display: flex;
}
.hobbies {
    background: rgba(255, 255, 255, 0.5);
    padding: 0 2rem;
    width: 40%;
}
.hobbies p {
    padding: 3rem 1rem;

}

footer {
    background-color: #212121;;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-top: 1.7rem;
    justify-content: flex-end;
    align-items: center;

}
footer p, footer img {
    font-size: 0.9rem;
    color: #fff;
    padding: 15px;
}

@media (max-width: 700px) {
    .figcaption {
        font-size: 0.8rem;
    }
    .universidad i {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        
    }
    .up {
        padding: 0 20px;
        margin-left: 0px;
    }
    .pro {
        width: 100%;
    }
    .wrapper {
        width: 100%;
    }
    .universidad {
        text-align: center;
        padding: 0.8rem;
    }
    .i i{
        padding: 0.5rem 1.2rem;
    }
    .pro {
        width: 80%;
    }
    .conocimientos {
        width: 100%;
        margin: 0 auto;
        padding: 3rem 2rem;
    }
    .cono ul li {
        padding: 2px 15px;
        font-size: 1rem ;
        text-align: center;
        align-self: center;
    }
    .humanidades {
        width: 100%;
        padding: 0px;
        flex-direction: column;
    }
    .perfil {
        padding: 20px 0px;
    }
    .perfil p {
        padding: 5px;
        width: 80%;
        margin: 0 auto;
        line-height: 1.4rem;
        background: rgba(255, 255, 255, 1)
    }
    .perfil h3 {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    footer p {
        font-size: 0.8rem;
       
    }
    .hobbies {
        width: 100%;
    }
    .yo {
        width: 100%;
        background-size: cover;
        background-image: url("soccer.jpg");
        background: whitesmoke;
    }
    .hobbies {
        background: rgba(255, 255, 255, 0.9);
        width: 80%;
       text-align: center;
    }
    
}
@media (max-width: 375px) {
    .figcaption {
        font-size: 0.6rem;
    }
    .universidad i {
        font-size: 0.6rem;
        margin-bottom: 0.2rem;
        
    }
    .up {
        padding: 0 20px;
        margin-left: 0px;
        width: 100%;
    }
    .image{
        width: 100%;
    }
    .image img {
        height: auto;
        width: 100%;
    }
    .pro {
        width: 100%;
    }
    .wrapper {
        width: 100%;
    }
    .universidad {
        text-align: center;
        padding: 0.5rem;
        font-size: 0.5rem;
    }
    .i i{
        padding: 0rem 0.5rem;
    }
    .i {
        text-align: center;
    }
    .pro {
        width:100%;
    }
    .pro p {
        padding: 10px 15px;
    }
    .conocimientos {
        width: 100%;
        margin: 0 auto;
        padding: 3rem 2rem;
    }
    .cono ul li {
        padding: 2px 5px;
        font-size: 0.8rem ;
        text-align: center;
        align-self: center;
    }
    .humanidades {
        width: 100%;
        padding: 0px;
        flex-direction: column;
    }
    .perfil {
        padding: 20px 0px;
    }
    .perfil p {
        padding: 5px;
        width: 80%;
        margin: 0 auto;
        line-height: 1.4rem;
        background: rgba(255, 255, 255, 1)
    }
    .perfil h3 {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    footer p {
        font-size: 0.8rem;
       
    }
    .hobbies {
        width: 100%;
    }
    .yo {
        width: 100%;
        background-size: cover;
        background-image: url("soccer.jpg");
        background: whitesmoke;
    }
    .hobbies {
        background: rgba(255, 255, 255, 0.9);
        width: 80%;
       text-align: center;
    }
    
}