*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Header section --------------------------------- --------------*/

header ul {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    
    
    
}

li.nav{
    display: inline-block;
    padding: 20px; 
}
li.hover:hover {
    font-size: 600;
}
li.anchor {
bottom: 130px;
position: relative;
font-size: 12px;
}

.proyectos_ li.anchor{
    position: relative;
    bottom: 120px;
    font-size:12px ;
}
.about_ li.anchor {
    position: relative;
    bottom: 120px;
    font-size:12px ;
}
li:hover{
    font-weight: 800;
}   

/* ----------------------------  End Header Section  ------------------  */

.content {
    background-image:url("fondo.svg");
    height: 600px;
}
.image{
    height: 100%;
    position: relative;   
}
.info img {
    position: relative;
    left: 20px;
    top: 30px;
}

.info{
  width: 100%;
  padding: 20px;
  text-align: center;
  float: right;
  position: relative;
  background-size: cover;
  background-position: bottom;
  box-shadow: 0 1px 2px 0 rgba(74, 161, 228, 0.3),0 2px 6px 2px rgba(60,64,67,.15);
z-index: -1;
  background-color: #F7F7F8;
}
.info h2, .info p {
    position: relative;
    bottom: 370px;
    left: 30px;

    
}

.cv_{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    position: relative;
    left: 200px;
    bottom: 360px;
    padding-top: 15px;
}

.cv_ p {
  
    color:purple;
    padding: 5px ;
    border-radius: 10px;
    font-size: 12px;
    position: relative;
    bottom: 150px;
}
.cv_ i {
    font-size: 40px;
    position: relative;
    bottom: 150px;
    
}
.about_{
    display: flex;
flex-direction: column;
align-items: center;
width: 300px;
position: relative;
left: 930px;
bottom: 650px;
padding-top: 15px;
}
.about_ p {
    color:purple;
    padding: 5px ;
    border-radius: 10px;
    font-size: 12px;
    position: relative;
    bottom: 120px;
}
.about_ i {
    font-size: 40px;
    position: relative;
    bottom: 130px;
  
}
.proyectos_{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    bottom: 1280px;
    padding-top: 15px;
}
.proyectos_ p {
    color:purple;
    padding: 5px ;
    border-radius: 10px;
    font-size: 12px;
    
    position: relative;
    bottom: 130px;
}
.proyectos_ i {
    font-size: 40px;
    position: relative;
    bottom: 130px;
    
}
footer {
    background-color: #212121;;
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-top: 30px;
    justify-content: flex-end;
    align-items: center;

}
footer p, footer img {
    font-size: 13px;
    color: #fff;
    padding: 15px;
}

.fa-whatsapp{
    font-size: 30px;
    color: #31724B;
    position: relative;
    align-self: center;
    left: 800px;
}
.fa-instagram {
    font-size: 30px;
    color: red;
    position: relative;
    align-self: center;
    left: 820px;
}


a.me {
    color: purple;
    font-style:oblique;
   
    
}
html {
    height: 800px;
}

.grid {
    height: 800px;
}
